body {
    background: url('sakura.jpg') no-repeat center center fixed;
	background-size: cover;
    font-family: Arial, sans-serif;
   	color: #fd6a02; 
    font-size: 20px;
    padding: 0;
	margin-left: 100px;
	margin-right: 100px;
}

.navigation {
	background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	margin-top: 50px;
    overflow: hidden;
	transition: transform 0.3s ease;
}

.navigation:hover {
    transform: scale(1.1);
}	


.navigation li {
    display: inline-block;
    margin: 10px;
}

.nav-link {
    display: block;
    color: #eb9605;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #f79862;
    color: #987554;
	border-radius: 20px;
}

.navigation + * {
    margin-top: 50px;
}

div {
	background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	transition: transform 0.3s ease;
}

div:hover {
    transform: scale(1.1);
}	

#my_goals {
	background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#my_goals ul {
    list-style: none;
    padding: 0;
}

#my_goals li {
    list-style: none;
    margin-bottom: 20px;
    flex: 1;
    box-sizing: border-box;
}

.goal_item p {
    margin-top: 25px;
	color: #f79862; 
}

h1 {
    font-size: 40px;
    font-weight: bold;
	color: #fd6a02; 
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
	color: #fd6a02; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-weight: bold;
    margin: 10px 0;
	color: #eb9605; 
}

li p {
    font-weight: normal;
	color: #f79862; 
}

ol {
    list-style-type: decimal;
    padding: 0;
}

ol li a {
    color: #b65fcf;
    text-decoration: none;
}

p {
    font-style: italic;
	color: #f79862; 
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background-color: #f79862;
    color: black;
    border: none; 
    border-radius: 5px;
}

#sort, 
#asc,
#desc {
    background-color: #f79862;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
	margin-left: 100px;
	margin-right: 100px;
}

#comments-container,
#comment_form {
    align-items: center;
    text-align: center;
}

#comments_container div {
    border: 2px solid #301934;
	width: 75%;
    padding: 10px;
    margin-bottom: 10px;
}

#comment_form label,
#comment_form input,
#comment_form textarea {
	color: #eb9605; 
    display: block;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 10px;
    width: 70%;
}

#comment_form input,
#comment_form textarea {
    padding: 10px;
    border: 2px solid #702670;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#comment_form button {
    background-color: #f79862;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
	width: 25%;
}

img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

button:hover,
#comment_form button:hover {
    background-color: #f05e23;
}

.journal_container {
	background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.journal_container p {
	text-align: justify;
	line-height: 1.5;
	color: #f79862; 
}

.gallery_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 50%;
	margin-left: 10px;
	margin-right: 10px;
    transition: transform 0.3s ease;
}


.gallery_image:hover {
    border-color: #666;
	transform: scale(2); 
}
